*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform:  translate(-50%,-50%);

}

.container{
    position: relative;
    height: 400px;
    padding: 100px;
    animation: move 4s linear infinite;

}
.cloud-1{
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background: grey;
    border-radius: 100px;
    animation: move 5s linear infinite;

}
.cloud-1::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 0px;
    width: 110px;
    height: 110px;
    background: grey;
    border-radius: 50%; 
    box-shadow: 90px 0 0 30px grey;
    animation: move 7s linear infinite;


}
.cloud-2{
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background: whitesmoke;
    border-radius: 100px;
    animation: move 10s linear infinite;

}
.cloud-2::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: whitesmoke;
    border-radius: 50%; 
    box-shadow: 90px 0 0 30px whitesmoke;
    animation: move 3s linear infinite;

}
.cloud-2::after{
    content: '';
    position: absolute;
    bottom: -260px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: whitesmoke;
    border-radius: 30%; 

}
.cloud-3{
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background: whitesmoke;
    border-radius: 100px;
    animation: move 10s linear infinite;

}
.cloud-3::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: whitesmoke;
    border-radius: 50%; 
    box-shadow: 90px 0 0 30px whitesmoke;
    animation: move 3s linear infinite;

}
.rain{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.rain span{
    position: relative;
    bottom: 10px;
    width: 5px;
    height: 10px;
    background-color: blue;
    margin: 0 2px;
    animation: animate-rain 5s linear infinite;
    animation-duration: calc(5s / var(--i));
    transform-origin: bottom;
}
.snow{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.snow span{
    position: relative;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 0 2px;
    animation: animate-rain 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}
.sun{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: #ffe208;
    border-radius: 50%;
    box-shadow: 50px 50px 120px rgba(126, 126, 89, 0.2), 50px 50px 200px rgba(255, 255, 0, 0.4),
    50px 50px 300px rgba(255, 255, 0, 0.6), 50px 50px 400px rgba(255, 255, 0, 0.8),
    50px 50px 500px rgba(255, 255, 0, 1);    
    z-index: -1;
    transform: translate(-50%,-50%);
    animation: move 3s linear infinite;
    animation: animate-sun 20s linear infinite;
}
.sun li{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    height: 4px;
    background: #ffe208;
    box-shadow: 100px 50px 120px rgba(126, 126, 89, 0.2), 100px 50px 200px rgba(255, 255, 0, 0.4),
    100px 50px 300px rgba(255, 255, 0, 0.6), 100px 50px 400px rgba(255, 255, 0, 0.8),
    100px 50px 500px rgba(255, 255, 0, 1);      
}
.sun li:nth-child(1){
    transform: translate(-50%, -50%)rotate(0deg);
}
.sun li:nth-child(2){
    transform: translate(-50%, -50%)rotate(90deg);
}.sun li:nth-child(3){
    transform: translate(-50%, -50%)rotate(45deg);
}.sun li:nth-child(4){
    transform: translate(-50%, -50%)rotate(-45deg);
}.sun li:nth-child(5){
    transform: translate(-50%, -50%)rotate(22.5deg);
}.sun li:nth-child(6){
    transform: translate(-50%, -50%)rotate(-22.5deg);
}.sun li:nth-child(7){
    transform: translate(-50%, -50%)rotate(67.5deg);
}.sun li:nth-child(8){
    transform: translate(-50%, -50%)rotate(-67.5deg);
}
@keyframes animate-sun
{
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-rain
{
    0%{
        transform: translateY(0) scale(1);
    }
    70%{
        transform: translateY(300px)scale(1);
    }
    100%{
        transform: translateY(300px)scale(0);
    }
}
@keyframes move{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(20px);
    }
    100%{
        transform: translateY(0);
    }
}